Binaries/
DerivedDataCache/
Saved/
Build/
Content/
Intermediate/
**/BlackAlder
**/Landscape
**/MedievalDungeon
**/Megascans
**/StarterContent
**/Assets

.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace